<style>
body {
  background-image:url('https://images.pexels.com/photos/3131634/pexels-photo-3131634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: 100% 100%;
  background-attachment: fixed;
}
</style>